*.class

# Gradle Build Files #
.gradle
build

# Eclipse Project Files #
.settings
.classpath
.project
bin

# Checkstyle Files #
.checkstyle

# jMockit-coverage Files #
coverage-report

# Package Files #
*.jar
*.war
*.ear

!/Reversi/lib/*
!/ReversiTest/lib/*
